In [ ]:
import pandas as pd

import warnings
warnings.filterwarnings("ignore")
import src.analysis as an
importlib.reload(an)

ModuleNotFoundError: No module named 'src'

In [ ]:
salud y contaminacion
worldbank.com para salud
income companies.

In [6]:
super = pd.read_csv("D:\ironhack\proyectos\_proy4\data\Supermart_Grocery_Sales.csv")
super

,Order ID,Customer Name,Category,Sub Category,City,Order Date,Region,Sales,Discount,Profit,State
0,OD1,Harish,Oil & Masala,Masalas,Vellore,11-08-2017,North,1254,0.12,401.28,Tamil Nadu
1,OD2,Sudha,Beverages,Health Drinks,Krishnagiri,11-08-2017,South,749,0.18,149.80,Tamil Nadu
2,OD3,Hussain,Food Grains,Atta & Flour,Perambalur,06-12-2017,West,2360,0.21,165.20,Tamil Nadu
3,OD4,Jackson,Fruits & Veggies,Fresh Vegetables,Dharmapuri,10-11-2016,South,896,0.25,89.60,Tamil Nadu
4,OD5,Ridhesh,Food Grains,Organic Staples,Ooty,10-11-2016,South,2355,0.26,918.45,Tamil Nadu
...,...,...,...,...,...,...,...,...,...,...,...
9989,OD9990,Sudeep,"Eggs, Meat & Fish",Eggs,Madurai,12/24/2015,West,945,0.16,359.10,Tamil Nadu
9990,OD9991,Alan,Bakery,Biscuits,Kanyakumari,07-12-2015,West,1195,0.26,71.70,Tamil Nadu
9991,OD9992,Ravi,Food Grains,Rice,Bodi,06-06-2017,West,1567,0.16,501.44,Tamil Nadu
9992,OD9993,Peer,Oil & Masala,Spices,Pudukottai,10/16/2018,West,1659,0.15,597.24,Tamil Nadu
9993,OD9994,Ganesh,Food Grains,Atta & Flour,Tirunelveli,4/17/2018,West,1034,0.28,165.44,Tamil Nadu

In [10]:
food_emisions = pd.read_csv("D:\ironhack\proyectos\_proy4\data\Food_Production.csv")
print(list(food_emisions["Food product"]))

['Wheat & Rye (Bread)', 'Maize (Meal)', 'Barley (Beer)', 'Oatmeal', 'Rice', 'Potatoes', 'Cassava', 'Cane Sugar', 'Beet Sugar', 'Other Pulses', 'Peas', 'Nuts', 'Groundnuts', 'Soymilk', 'Tofu', 'Soybean Oil', 'Palm Oil', 'Sunflower Oil', 'Rapeseed Oil', 'Olive Oil', 'Tomatoes', 'Onions & Leeks', 'Root Vegetables', 'Brassicas', 'Other Vegetables', 'Citrus Fruit', 'Bananas', 'Apples', 'Berries & Grapes', 'Wine', 'Other Fruit', 'Coffee', 'Dark Chocolate', 'Beef (beef herd)', 'Beef (dairy herd)', 'Lamb & Mutton', 'Pig Meat', 'Poultry Meat', 'Milk', 'Cheese', 'Eggs', 'Fish (farmed)', 'Shrimps (farmed)']

In [23]:
area = pd.read_csv("D:\ironhack\proyectos\_proy4\data\\area_harvested_1.csv", engine="python", error_bad_lines=False)
area

FileNotFoundError: [Errno 2] No such file or directory: 'D:\\ironhack\\proyectos\\_proy4\\data\\area_harvested_1.csv'

IMPORT quantity data set.

In [82]:
production = pd.read_csv("D:\ironhack\proyectos\_proy4\csv\\production_quantity.csv")
production.sample()

,Domain,Area,Element,Item,Year,Unit,Value
47714,Crops and livestock products,Liberia,Production,"Eggs from other birds in shell, fresh, n.e.c.",2006,1000 No,3600.0

In [83]:
production.drop(columns=["Domain", "Element"], inplace=True)

In [84]:
production["indexaÃ±o"] = production["Year"]

In [85]:
production.set_index("indexaÃ±o", inplace=True)

In [86]:
production

                 Area    Item  Year    Unit     Value
indexaÃ±o
1999      Afghanistan  Apples  1999  tonnes  35928.15
2000      Afghanistan  Apples  2000  tonnes  40540.06
2001      Afghanistan  Apples  2001  tonnes  39541.74
2002      Afghanistan  Apples  2002  tonnes  35630.08
2003      Afghanistan  Apples  2003  tonnes  28042.99
...               ...     ...   ...     ...       ...
2009         Zimbabwe    Wine  2009  tonnes   1750.00
2010         Zimbabwe    Wine  2010  tonnes   1750.00
2011         Zimbabwe    Wine  2011  tonnes   1750.00
2012         Zimbabwe    Wine  2012  tonnes   1750.00
2013         Zimbabwe    Wine  2013  tonnes   1750.00

[92658 rows x 5 columns]

In [87]:
x = {}
for index, row in production.iterrows():
    if row[2] == 1999:
        x[index].append(row[4])

KeyError: 1999

In [72]:
x

[Area     Afghanistan
 Item          Apples
 Year            1999
 Unit          tonnes
 Value       35928.15
 Name: 1999, dtype: object,
 Area     Afghanistan
 Item          Barley
 Year            1999
 Unit          tonnes
 Value       216000.0
 Name: 1999, dtype: object,
 Area                  Afghanistan
 Item     Hen eggs in shell, fresh
 Year                         1999
 Unit                       tonnes
 Value                     18300.0
 Name: 1999, dtype: object,
 Area                  Afghanistan
 Item     Hen eggs in shell, fresh
 Year                         1999
 Unit                      1000 No
 Value                    366000.0
 Name: 1999, dtype: object,
 Area      Afghanistan
 Item     Maize (corn)
 Year             1999
 Unit           tonnes
 Value        240000.0
 Name: 1999, dtype: object,
 Area     Afghanistan
 Item       Olive oil
 Year            1999
 Unit          tonnes
 Value          73.44
 Name: 1999, dtype: object,
 Area                                           Afghanistan
 Item     Other berries and fruits of the genus vacciniu...
 Year                                                  1999
 Unit                                                tonnes
 Value                                             74023.92
 Name: 1999, dtype: object,
 Area                    Afghanistan
 Item     Other citrus fruit, n.e.c.
 Year                           1999
 Unit                         tonnes
 Value                       6475.76
 Name: 1999, dtype: object,
 Area              Afghanistan
 Item     Other fruits, n.e.c.
 Year                     1999
 Unit                   tonnes
 Value                88942.06
 Name: 1999, dtype: object,
 Area             Afghanistan
 Item     Other pulses n.e.c.
 Year                    1999
 Unit                  tonnes
 Value                45221.0
 Name: 1999, dtype: object,
 Area                        Afghanistan
 Item     Other vegetables, fresh n.e.c.
 Year                               1999
 Unit                             tonnes
 Value                          540000.0
 Name: 1999, dtype: object,
 Area     Afghanistan
 Item        Potatoes
 Year            1999
 Unit          tonnes
 Value       235000.0
 Name: 1999, dtype: object,
 Area                               Afghanistan
 Item     Raw hides and skins of sheep or lambs
 Year                                      1999
 Unit                                    tonnes
 Value                                  22800.0
 Name: 1999, dtype: object,
 Area     Afghanistan
 Item            Rice
 Year            1999
 Unit          tonnes
 Value       280000.0
 Name: 1999, dtype: object,
 Area     Afghanistan
 Item      Sugar beet
 Year            1999
 Unit          tonnes
 Value         1000.0
 Name: 1999, dtype: object,
 Area     Afghanistan
 Item      Sugar cane
 Year            1999
 Unit          tonnes
 Value        38000.0
 Name: 1999, dtype: object,
 Area                   Afghanistan
 Item     Sunflower-seed oil, crude
 Year                          1999
 Unit                        tonnes
 Value                      3967.39
 Name: 1999, dtype: object,
 Area           Afghanistan
 Item     Walnuts, in shell
 Year                  1999
 Unit                tonnes
 Value               5000.0
 Name: 1999, dtype: object,
 Area     Afghanistan
 Item           Wheat
 Year            1999
 Unit          tonnes
 Value      2499000.0
 Name: 1999, dtype: object,
 Area     Albania
 Item      Apples
 Year        1999
 Unit      tonnes
 Value    11800.0
 Name: 1999, dtype: object,
 Area     Albania
 Item      Barley
 Year        1999
 Unit      tonnes
 Value     2900.0
 Name: 1999, dtype: object,
 Area                        Albania
 Item     Cheese from whole cow milk
 Year                           1999
 Unit                         tonnes
 Value                        8600.0
 Name: 1999, dtype: object,
 Area                 Albania
 Item     Chestnuts, in shell
 Year                    1999
 Unit                  tonnes
 Value                 5000.0
 Name: 1999, dtype: object,
 Area                                           Albania
 Item     Eggs from other birds in shell, fresh, n.e.c.
 Year                                              1999
 Unit                                            tonnes
 Value                                              0.0
 Name: 1999, dtype: object,
 Area                                           Albania
 Item     Eggs from other birds in shell, fresh, n.e.c.
 Year                                              1999
 Unit                                           1000 No
 Value                                              0.0
 Name: 1999, dtype: object,
 Area                      Albania
 Item     Hen eggs in shell, fresh
 Year                         1999
 Unit                       tonnes
 Value                     20200.0
 Name: 1999, dtype: object,
 Area                      Albania
 Item     Hen eggs in shell, fresh
 Year                         1999
 Unit                      1000 No
 Value                    414000.0
 Name: 1999, dtype: object,
 Area          Albania
 Item     Maize (corn)
 Year             1999
 Unit           tonnes
 Value        206000.0
 Name: 1999, dtype: object,
 Area       Albania
 Item     Olive oil
 Year          1999
 Unit        tonnes
 Value        597.0
 Name: 1999, dtype: object,
 Area                        Albania
 Item     Onions and shallots, green
 Year                           1999
 Unit                         tonnes
 Value                       11800.0
 Name: 1999, dtype: object,
 Area                        Albania
 Item     Other citrus fruit, n.e.c.
 Year                           1999
 Unit                         tonnes
 Value                           0.0
 Name: 1999, dtype: object,
 Area                  Albania
 Item     Other fruits, n.e.c.
 Year                     1999
 Unit                   tonnes
 Value                  1000.0
 Name: 1999, dtype: object,
 Area                 Albania
 Item     Other pulses n.e.c.
 Year                    1999
 Unit                  tonnes
 Value                  400.0
 Name: 1999, dtype: object,
 Area                            Albania
 Item     Other vegetables, fresh n.e.c.
 Year                               1999
 Unit                             tonnes
 Value                               0.0
 Name: 1999, dtype: object,
 Area         Albania
 Item     Peas, green
 Year            1999
 Unit          tonnes
 Value            0.0
 Name: 1999, dtype: object,
 Area      Albania
 Item     Potatoes
 Year         1999
 Unit       tonnes
 Value    161900.0
 Name: 1999, dtype: object,
 Area                                   Albania
 Item     Raw hides and skins of sheep or lambs
 Year                                      1999
 Unit                                    tonnes
 Value                                   3412.5
 Name: 1999, dtype: object,
 Area     Albania
 Item        Rice
 Year        1999
 Unit      tonnes
 Value        0.0
 Name: 1999, dtype: object,
 Area           Albania
 Item     Soya bean oil
 Year              1999
 Unit            tonnes
 Value           184.87
 Name: 1999, dtype: object,
 Area        Albania
 Item     Soya beans
 Year           1999
 Unit         tonnes
 Value        1200.0
 Name: 1999, dtype: object,
 Area        Albania
 Item     Sugar beet
 Year           1999
 Unit         tonnes
 Value       39900.0
 Name: 1999, dtype: object,
 Area                       Albania
 Item     Sunflower-seed oil, crude
 Year                          1999
 Unit                        tonnes
 Value                        940.0
 Name: 1999, dtype: object,
 Area      Albania
 Item     Tomatoes
 Year         1999
 Unit       tonnes
 Value    160000.0
 Name: 1999, dtype: object,
 Area      Albania
 Item        Wheat
 Year         1999
 Unit       tonnes
 Value    272000.0
 Name: 1999, dtype: object,
 Area     Albania
 Item        Wine
 Year        1999
 Unit      tonnes
 Value    12708.0
 Name: 1999, dtype: object,
 Area     Algeria
 Item      Apples
 Year        1999
 Unit      tonnes
 Value    87318.0
 Name: 1999, dtype: object,
 Area     Algeria
 Item     Bananas
 Year        1999
 Unit      tonnes
 Value        0.0
 Name: 1999, dtype: object,
 Area      Algeria
 Item       Barley
 Year         1999
 Unit       tonnes
 Value    510000.0
 Name: 1999, dtype: object,
 Area                           Algeria
 Item     Groundnuts, excluding shelled
 Year                              1999
 Unit                            tonnes
 Value                           4749.0
 Name: 1999, dtype: object,
 Area                      Algeria
 Item     Hen eggs in shell, fresh
 Year                         1999
 Unit                       tonnes
 Value                     93000.0
 Name: 1999, dtype: object,
 Area                      Algeria
 Item     Hen eggs in shell, fresh
 Year                         1999
 Unit                      1000 No
 Value                   1844000.0
 Name: 1999, dtype: object,
 Area          Algeria
 Item     Maize (corn)
 Year             1999
 Unit           tonnes
 Value           537.0
 Name: 1999, dtype: object,
 Area       Algeria
 Item     Olive oil
 Year          1999
 Unit        tonnes
 Value      52188.0
 Name: 1999, dtype: object,
 Area                        Algeria
 Item     Onions and shallots, green
 Year                           1999
 Unit                         tonnes
 Value                        232.37
 Name: 1999, dtype: object,
 Area                        Algeria
 Item     Other citrus fruit, n.e.c.
 Year                           1999
 Unit                         tonnes
 Value                        373.84
 Name: 1999, dtype: object,
 Area                  Algeria
 Item     Other fruits, n.e.c.
 Year                     1999
 Unit                   tonnes
 Value                  8987.0
 Name: 1999, dtype: object,
 Area                 Algeria
 Item     Other pulses n.e.c.
 Year                    1999
 Unit                  tonnes
 Value                   95.0
 Name: 1999, dtype: object,
 Area                            Algeria
 Item     Other vegetables, fresh n.e.c.
 Year                               1999
 Unit                             tonnes
 Value                          261484.0
 Name: 1999, dtype: object,
 Area       Algeria
 Item     Peas, dry
 Year          1999
 Unit        tonnes
 Value       3004.0
 Name: 1999, dtype: object,
 Area         Algeria
 Item     Peas, green
 Year            1999
 Unit          tonnes
 Value        45399.0
 Name: 1999, dtype: object,
 Area      Algeria
 Item     Potatoes
 Year         1999
 Unit       tonnes
 Value    996268.0
 Name: 1999, dtype: object,
 Area                           Algeria
 Item     Rapeseed or canola oil, crude
 Year                              1999
 Unit                            tonnes
 Value                          9717.33
 Name: 1999, dtype: object,
 Area                                   Algeria
 Item     Raw hides and skins of sheep or lambs
 Year                                      1999
 Unit                                    tonnes
 Value                                 25649.49
 Name: 1999, dtype: object,
 Area     Algeria
 Item        Rice
 Year        1999
 Unit      tonnes
 Value     456.36
 Name: 1999, dtype: object,
 Area        Algeria
 Item     Sugar beet
 Year           1999
 Unit         tonnes
 Value           0.0
 Name: 1999, dtype: object,
 Area                       Algeria
 Item     Sunflower-seed oil, crude
 Year                          1999
 Unit                        tonnes
 Value                        22.73
 Name: 1999, dtype: object,
 Area      Algeria
 Item     Tomatoes
 Year         1999
 Unit       tonnes
 Value    954804.0
 Name: 1999, dtype: object,
 Area       Algeria
 Item         Wheat
 Year          1999
 Unit        tonnes
 Value    1470000.0
 Name: 1999, dtype: object,
 Area     Algeria
 Item        Wine
 Year        1999
 Unit      tonnes
 Value    42156.0
 Name: 1999, dtype: object,
 Area       Angola
 Item      Bananas
 Year         1999
 Unit       tonnes
 Value    290000.0
 Name: 1999, dtype: object,
 Area                    Angola
 Item     Cashew nuts, in shell
 Year                      1999
 Unit                    tonnes
 Value                   1000.0
 Name: 1999, dtype: object,
 Area             Angola
 Item     Cassava, fresh
 Year               1999
 Unit             tonnes
 Value         3129734.0
 Name: 1999, dtype: object,
 Area                         Angola
 Item     Cheese from whole cow milk
 Year                           1999
 Unit                         tonnes
 Value                       1201.25
 Name: 1999, dtype: object,
 Area          Angola
 Item     Cocoa beans
 Year            1999
 Unit          tonnes
 Value          100.0
 Name: 1999, dtype: object,
 Area            Angola
 Item     Coffee, green
 Year              1999
 Unit            tonnes
 Value           3300.0
 Name: 1999, dtype: object,
 Area                            Angola
 Item     Groundnuts, excluding shelled
 Year                              1999
 Unit                            tonnes
 Value                          11319.0
 Name: 1999, dtype: object,
 Area                       Angola
 Item     Hen eggs in shell, fresh
 Year                         1999
 Unit                       tonnes
 Value                     3788.67
 Name: 1999, dtype: object,
 Area                       Angola
 Item     Hen eggs in shell, fresh
 Year                         1999
 Unit                      1000 No
 Value                     79000.0
 Name: 1999, dtype: object,
 Area           Angola
 Item     Maize (corn)
 Year             1999
 Unit           tonnes
 Value        428045.0
 Name: 1999, dtype: object,
 Area                         Angola
 Item     Onions and shallots, green
 Year                           1999
 Unit                         tonnes
 Value                       10000.0
 Name: 1999, dtype: object,
 Area                         Angola
 Item     Other citrus fruit, n.e.c.
 Year                           1999
 Unit                         tonnes
 Value                       75000.0
 Name: 1999, dtype: object,
 Area                   Angola
 Item     Other fruits, n.e.c.
 Year                     1999
 Unit                   tonnes
 Value                 26000.0
 Name: 1999, dtype: object,
 Area                             Angola
 Item     Other vegetables, fresh n.e.c.
 Year                               1999
 Unit                             tonnes
 Value                          220000.0
 Name: 1999, dtype: object,
 Area       Angola
 Item     Palm oil
 Year         1999
 Unit       tonnes
 Value     49000.0
 Name: 1999, dtype: object,
 Area       Angola
 Item     Potatoes
 Year         1999
 Unit       tonnes
 Value     19109.0
 Name: 1999, dtype: object,
 Area                                    Angola
 Item     Raw hides and skins of sheep or lambs
 Year                                      1999
 Unit                                    tonnes
 Value                                   156.57
 Name: 1999, dtype: object,
 Area     Angola
 Item       Rice
 Year       1999
 Unit     tonnes
 Value    7402.0
 Name: 1999, dtype: object,
 Area         Angola
 Item     Soya beans
 Year           1999
 Unit         tonnes
 Value           0.0
 Name: 1999, dtype: object,
 Area         Angola
 Item     Sugar cane
 Year           1999
 Unit         tonnes
 Value      340000.0
 Name: 1999, dtype: object,
 Area                        Angola
 Item     Sunflower-seed oil, crude
 Year                          1999
 Unit                        tonnes
 Value                       3332.0
 Name: 1999, dtype: object,
 Area       Angola
 Item     Tomatoes
 Year         1999
 Unit       tonnes
 Value     11000.0
 Name: 1999, dtype: object,
 Area     Angola
 Item      Wheat
 Year       1999
 Unit     tonnes
 Value    4000.0
 Name: 1999, dtype: object,
 Area     Antigua and Barbuda
 Item                 Bananas
 Year                    1999
 Unit                  tonnes
 Value                  170.0
 Name: 1999, dtype: object,
 Area     Antigua and Barbuda
 Item          Cassava, fresh
 Year                    1999
 Unit                  tonnes
 Value                  46.04
 Name: 1999, dtype: object,
 Area                               Antigua and Barbuda
 Item     Eggs from other birds in shell, fresh, n.e.c.
 Year                                              1999
 Unit                                            tonnes
 Value                                              0.0
 Name: 1999, dtype: object,
 Area          Antigua and Barbuda
 Item     Hen eggs in shell, fresh
 Year                         1999
 Unit                       tonnes
 Value                       215.0
 Name: 1999, dtype: object,
 Area          Antigua and Barbuda
 Item     Hen eggs in shell, fresh
 Year                         1999
 Unit                      1000 No
 Value                      4300.0
 Name: 1999, dtype: object,
 Area     Antigua and Barbuda
 Item            Maize (corn)
 Year                    1999
 Unit                  tonnes
 Value                  49.73
 Name: 1999, dtype: object,
 Area                Antigua and Barbuda
 Item     Other vegetables, fresh n.e.c.
 Year                               1999
 Unit                             tonnes
 Value                            231.89
 Name: 1999, dtype: object,
 Area                       Antigua and Barbuda
 Item     Raw hides and skins of sheep or lambs
 Year                                      1999
 Unit                                    tonnes
 Value                                     10.9
 Name: 1999, dtype: object,
 Area     Antigua and Barbuda
 Item              Sugar cane
 Year                    1999
 Unit                  tonnes
 Value                    0.0
 Name: 1999, dtype: object,
 Area     Antigua and Barbuda
 Item                Tomatoes
 Year                    1999
 Unit                  tonnes
 Value                  260.0
 Name: 1999, dtype: object,
 Area     Argentina
 Item        Apples
 Year          1999
 Unit        tonnes
 Value    1116000.0
 Name: 1999, dtype: object,
 Area     Argentina
 Item       Bananas
 Year          1999
 Unit        tonnes
 Value     175000.0
 Name: 1999, dtype: object,
 Area     Argentina
 Item        Barley
 Year          1999
 Unit        tonnes
 Value     419556.0
 Name: 1999, dtype: object,
 Area          Argentina
 Item     Cassava, fresh
 Year               1999
 Unit             tonnes
 Value          170000.0
 Name: 1999, dtype: object,
 Area                      Argentina
 Item     Cheese from whole cow milk
 Year                           1999
 Unit                         tonnes
 Value                      445000.0
 Name: 1999, dtype: object,
 Area                         Argentina
 Item     Groundnuts, excluding shelled
 Year                              1999
 Unit                            tonnes
 Value                         340207.0
 Name: 1999, dtype: object,
 Area                    Argentina
 Item     Hen eggs in shell, fresh
 Year                         1999
 Unit                       tonnes
 Value                    318870.0
 Name: 1999, dtype: object,
 Area                    Argentina
 Item     Hen eggs in shell, fresh
 Year                         1999
 Unit                      1000 No
 Value                   5694120.0
 Name: 1999, dtype: object,
 Area        Argentina
 Item     Maize (corn)
 Year             1999
 Unit           tonnes
 Value      13504100.0
 Name: 1999, dtype: object,
 Area     Argentina
 Item     Olive oil
 Year          1999
 Unit        tonnes
 Value       8000.0
 Name: 1999, dtype: object,
 Area                          Argentina
 Item     Other vegetables, fresh n.e.c.
 Year                               1999
 Unit                             tonnes
 Value                          640000.0
 Name: 1999, dtype: object,
 Area     Argentina
 Item     Peas, dry
 Year          1999
 Unit        tonnes

In [56]:
_1999 = {index:row[4] for index, row in production.iterrows() if row[2] == 1999}

In [57]:
_1999

{1999: 1650.0}

In [39]:

df1999 = pd.DataFrame.from_dict(_1999, orient="index")
df1999.rename(columns= {0: 1999}, inplace = True)

In [40]:
df1999

        1999
1999  tonnes

In [21]:
# adding a column with the year and in the rows the cuantity of production in ton.
def adding_yearcolumns (df):
    # iteration to create a dictionary getting the values in the column year.
    _1999 = {index:row[4] for index, row in df.iterrows() if row[2] == 1999}
    df1999 = pd.DataFrame.from_dict(_1999, orient="index")
    df1999.rename(columns= {0: 1999}, inplace = True)
    # iteration to create a dictionary 2000.
    _2000 = {index:row[4] for index, row in df.iterrows() if row[2] == 2000}
    df2000 = pd.DataFrame.from_dict(_2000, orient="index")
    df2000.rename(columns= {0: 2000}, inplace = True) 
    # iteration to create a dictionary 2001.
    _2001 = {index:row[4] for index, row in df.iterrows() if row[2] == 2001}
    df2001 = pd.DataFrame.from_dict(_2001, orient="index")
    df2001.rename(columns= {0: 2001}, inplace = True)  
    # iteration to create a dictionary 2002.
    _2002 = {index:row[4] for index, row in df.iterrows() if row[2] == 2002}
    df2002 = pd.DataFrame.from_dict(_2002, orient="index")
    df2002.rename(columns= {0: 2002}, inplace = True)       
    # iteration to create a dictionary 2003.
    _2003 = {index:row[4] for index, row in df.iterrows() if row[2] == 2003}
    df2003 = pd.DataFrame.from_dict(_2003, orient="index")
    df2003.rename(columns= {0: 2003}, inplace = True)   
    # iteration to create a dictionary 2004.
    _2004 = {index:row[4] for index, row in df.iterrows() if row[2] == 2004}
    df2004 = pd.DataFrame.from_dict(_2004, orient="index")
    df2004.rename(columns= {0: 2004}, inplace = True)   
    # iteration to create a dictionary 2005.
    _2005 = {index:row[4] for index, row in df.iterrows() if row[2] == 2005}
    df2005 = pd.DataFrame.from_dict(_2005, orient="index")
    df2005.rename(columns= {0: 2005}, inplace = True)   
    # iteration to create a dictionary 2006.
    _2006 = {index:row[4] for index, row in df.iterrows() if row[2] == 2006}
    df2006 = pd.DataFrame.from_dict(_2006, orient="index")
    df2006.rename(columns= {0: 2006}, inplace = True)   
    # iteration to create a dictionary 2007.
    _2007 = {index:row[4] for index, row in df.iterrows() if row[2] == 2007}
    df2007 = pd.DataFrame.from_dict(_2007, orient="index")
    df2007.rename(columns= {0: 2007}, inplace = True) 
    # iteration to create a dictionary 2008.
    _2008 = {index:row[4] for index, row in df.iterrows() if row[2] == 2008}
    df2008 = pd.DataFrame.from_dict(_2008, orient="index")
    df2008.rename(columns= {0: 2008}, inplace = True) 
    # iteration to create a dictionary 2009.
    _2009 = {index:row[4] for index, row in df.iterrows() if row[2] == 2009}
    df2009 = pd.DataFrame.from_dict(_2009, orient="index")
    df2009.rename(columns= {0: 2009}, inplace = True) 
    # iteration to create a dictionary 20010.
    _2010 = {index:row[4] for index, row in df.iterrows() if row[2] == 2010}
    df2010 = pd.DataFrame.from_dict(_2010, orient="index")
    df2010.rename(columns= {0: 2010}, inplace = True) 
    # iteration to create a dictionary 2011.
    _2011 = {index:row[4] for index, row in df.iterrows() if row[2] == 2011}
    df2011 = pd.DataFrame.from_dict(_2011, orient="index")
    df2011.rename(columns= {0: 2011}, inplace = True) 
    # iteration to create a dictionary 2012.
    _2012 = {index:row[4] for index, row in df.iterrows() if row[2] == 2012}
    df2012 = pd.DataFrame.from_dict(_2012, orient="index")
    df2012.rename(columns= {0: 2012}, inplace = True) 
    # iteration to create a dictionary 20013.
    _2013 = {index:row[4] for index, row in df.iterrows() if row[2] == 2013}
    df2013 = pd.DataFrame.from_dict(_2013, orient="index")
    df2013.rename(columns= {0: 2013}, inplace = True) 
    # iteration to create a dictionary 2014.
    _2014 = {index:row[4] for index, row in df.iterrows() if row[2] == 2014}
    df2014 = pd.DataFrame.from_dict(_2014, orient="index")
    df2014.rename(columns= {0: 2014}, inplace = True) 
    # iteration to create a dictionary 2015.
    _2015 = {index:row[4] for index, row in df.iterrows() if row[2] == 2015}
    df2015 = pd.DataFrame.from_dict(_2015, orient="index")
    df2015.rename(columns= {0: 2015}, inplace = True) 
    # iteration to create a dictionary 2016.
    _2016 = {index:row[4] for index, row in df.iterrows() if row[2] == 2016}
    df2016 = pd.DataFrame.from_dict(_2016, orient="index")
    df2016.rename(columns= {0: 2016}, inplace = True) 
    # iteration to create a dictionary 2017.
    _2017 = {index:row[4] for index, row in df.iterrows() if row[2] == 2017}
    df2017 = pd.DataFrame.from_dict(_2017, orient="index")
    df2017.rename(columns= {0: 2017}, inplace = True) 
    # iteration to create a dictionary 2018.
    _2018 = {index:row[4] for index, row in df.iterrows() if row[2] == 2018}
    df2018 = pd.DataFrame.from_dict(_2018, orient="index")
    df2018.rename(columns= {0: 2018}, inplace = True) 
    # iteration to create a dictionary 2019.
    _2019 = {index:row[4] for index, row in df.iterrows() if row[2] == 2019}
    df2019 = pd.DataFrame.from_dict(_2019, orient="index")
    df2019.rename(columns= {0: 2019}, inplace = True) 
    # iteration to create a dictionary 2020.
    _2020 = {index:row[4] for index, row in df.iterrows() if row[2] == 2020}
    df2020 = pd.DataFrame.from_dict(_2020, orient="index")
    df2020.rename(columns= {0: 2020}, inplace = True) 
    # iteration to create a dictionary 2021.
    _2021 = {index:row[4] for index, row in df.iterrows() if row[2] == 2021}
    df2021 = pd.DataFrame.from_dict(_2021, orient="index")
    df2021.rename(columns= {0: 2021}, inplace = True) 
    return pd.concat([df, df1999, df2000, df2001, df2002, df2003, df2004, df2005, df2006, df2007, df2008, df2009, df2010, df2011, df2012, df2013, df2014, df2015, df2016, df2017, df2018, df2019, df2020, df2021], axis = 1)

In [22]:
production = adding_yearcolumns (production)

,Area,Item,Year,Unit,Value,1999,2000,2001,2002,2003,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Afghanistan,Apples,1999,tonnes,35928.15,35928.15,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,Apples,2000,tonnes,40540.06,NaN,40540.06,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,Apples,2001,tonnes,39541.74,NaN,NaN,39541.74,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,Apples,2002,tonnes,35630.08,NaN,NaN,NaN,35630.08,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,Apples,2003,tonnes,28042.99,NaN,NaN,NaN,NaN,28042.99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92653,Zimbabwe,Wine,2009,tonnes,1750.00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92654,Zimbabwe,Wine,2010,tonnes,1750.00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92655,Zimbabwe,Wine,2011,tonnes,1750.00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92656,Zimbabwe,Wine,2012,tonnes,1750.00,NaN,NaN,NaN,NaN,NaN,...,1750.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92657,Zimbabwe,Wine,2013,tonnes,1750.00,NaN,NaN,NaN,NaN,NaN,...,NaN,1750.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
_1999 = {index:row[4] for index, row in production.iterrows() if row[2] == 1999}

In [29]:
df1999 = pd.DataFrame.from_dict(_1999, orient="index")

In [30]:
df1999.rename(columns= {0: 1999}, inplace = True)

In [31]:
production = pd.concat([production, df1999], axis = 1)

In [32]:
production

              Area    Item  Year    Unit     Value      1999
0      Afghanistan  Apples  1999  tonnes  35928.15  35928.15
1      Afghanistan  Apples  2000  tonnes  40540.06       NaN
2      Afghanistan  Apples  2001  tonnes  39541.74       NaN
3      Afghanistan  Apples  2002  tonnes  35630.08       NaN
4      Afghanistan  Apples  2003  tonnes  28042.99       NaN
...            ...     ...   ...     ...       ...       ...
92653     Zimbabwe    Wine  2009  tonnes   1750.00       NaN
92654     Zimbabwe    Wine  2010  tonnes   1750.00       NaN
92655     Zimbabwe    Wine  2011  tonnes   1750.00       NaN
92656     Zimbabwe    Wine  2012  tonnes   1750.00       NaN
92657     Zimbabwe    Wine  2013  tonnes   1750.00       NaN

[92658 rows x 6 columns]

In [34]:
production[production["Year"] == 1999]

,Area,Item,Year,Unit,Value,1999
0,Afghanistan,Apples,1999,tonnes,35928.15,35928.15
23,Afghanistan,Barley,1999,tonnes,216000.00,216000.00
46,Afghanistan,"Hen eggs in shell, fresh",1999,tonnes,18300.00,18300.00
69,Afghanistan,"Hen eggs in shell, fresh",1999,1000 No,366000.00,366000.00
92,Afghanistan,Maize (corn),1999,tonnes,240000.00,240000.00
...,...,...,...,...,...,...
92553,Zimbabwe,Tomatoes,1999,tonnes,12000.00,12000.00
92576,Zimbabwe,Wheat,1999,tonnes,260909.00,260909.00
92599,Zimbabwe,"Whole milk, condensed",1999,tonnes,1000.00,1000.00
92621,Zimbabwe,"Whole milk, evaporated",1999,tonnes,6600.00,6600.00
92643,Zimbabwe,Wine,1999,tonnes,1650.00,1650.00

Series([], Name: Year, dtype: bool)

In [112]:
_1999 = {}
_2000 = []
_2001 = []
_2002 = []
_2003 = []
_2004 = []
_2005 = []
_2006 = []
_2007 = []
_2008 = []
_2009 = []
_2010 = []
_2011 = []
_2012 = []
_2013 = []
_2014 = []
_2015 = []
_2016 = []
_2017 = []
_2018 = []
_2019 = []
_2020 = []
_2021 = []
for index, row in production.iterrows():
    if row[2] == 1999:
        _1999.append(row[4])
    elif row[4] == 2000:    
        _2000.append(row[6])
    elif row[4] == 2000:    
        _2001.append(row[6])    
    elif row[4] == 2000:    
        _2002.append(row[6])
    elif row[4] == 2000:    
        _2003.append(row[6]) 
    elif row[4] == 2000:    
        _2004.append(row[6])
    elif row[4] == 2000:    
        _2005.append(row[6])    
    elif row[4] == 2000:    
        _2006.append(row[6])
    elif row[4] == 2000:    
        _2007.append(row[6]) 
    elif row[4] == 2000:    
        _2008.append(row[6])
    elif row[4] == 2000:    
        _2009.append(row[6])    
    elif row[4] == 2000:    
        _2010.append(row[6])
    elif row[4] == 2000:    
        _2011.append(row[6]) 
    elif row[4] == 2000:    
        _2012.append(row[6])
    elif row[4] == 2000:    
        _2013.append(row[6])    
    elif row[4] == 2000:    
        _2014.append(row[6])
    elif row[4] == 2000:    
        _2015.append(row[6])         
    elif row[4] == 2000:    
        _2016.append(row[6]) 
    elif row[4] == 2000:    
        _2017.append(row[6])
    elif row[4] == 2000:    
        _2018.append(row[6])    
    elif row[4] == 2000:    
        _2019.append(row[6])
    elif row[4] == 2000:    
        _2020.append(row[6]) 
    elif row[4] == 2000:    
        _2021.append(row[6])

KeyError: 2

0

In [94]:
dict = pd.DataFrame(dict)