# ANALYSIS.
## Area DB.

In [122]:
import pandas as pd
import regex
import warnings
warnings.filterwarnings("ignore")

import importlib
import src.analysis as an
import sys 
an = sys.path.append("\src\\analysis.py")

ModuleNotFoundError: No module named 'src'

IMPORT Area data set.

In [189]:
area = pd.read_csv("D:\ironhack\proyectos\_proy4\csv\\food_production\\area_harvested.csv")
area.sample()

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value
5852,QCL,Crops and livestock products,159,China,5312,Area harvested,1599.1,Edible roots and tubers with high starch or in...,2015,2015,ha,3500

In [157]:
print(set(area["Item"]))

{'Wheat', 'Other vegetables, fresh n.e.c.', 'Barley', 'Onions and shallots, green', 'Potatoes', 'Gooseberries', 'Hazelnuts, in shell', 'Strawberries', 'Peas, dry', 'Cassava, fresh', 'Soya beans', 'Blueberries', 'Other pulses n.e.c.', 'Rice', 'Bananas', 'Other citrus fruit, n.e.c.', 'Peas, green', 'Cocoa beans', 'Tomatoes', 'Sugar cane', 'Chick peas, dry', 'Groundnuts, excluding shelled', 'Oats', 'Raspberries', 'Walnuts, in shell', 'Cranberries', 'Cow peas, dry', 'Edible roots and tubers with high starch or inulin content, n.e.c., fresh', 'Maize (corn)', 'Coffee, green', 'Apples'}

Clean Data Base.

In [158]:
# Drop columns.
area.drop(columns=["Domain", "Domain Code", "Element Code", "Element", "Year Code"],inplace=True)

In [159]:
# Change names.
area.rename(columns={"Area Code (M49)":"Area Code", "Item Code (CPC)": "Item Code"}, inplace= True)

In [160]:
area

       Area Code         Area  Item Code    Item  Year Unit  Value
0              4  Afghanistan     1341.0  Apples  2010   ha   8550
1              4  Afghanistan     1341.0  Apples  2011   ha   8863
2              4  Afghanistan     1341.0  Apples  2012   ha   9148
3              4  Afghanistan     1341.0  Apples  2013   ha  10341
4              4  Afghanistan     1341.0  Apples  2014   ha  12247
...          ...          ...        ...     ...   ...  ...    ...
34355        716     Zimbabwe      111.0   Wheat  2017   ha  22070
34356        716     Zimbabwe      111.0   Wheat  2018   ha  16700
34357        716     Zimbabwe      111.0   Wheat  2019   ha  24186
34358        716     Zimbabwe      111.0   Wheat  2020   ha  44466
34359        716     Zimbabwe      111.0   Wheat  2021   ha  66434

[34360 rows x 7 columns]

In [161]:
def iterate_column_years (year):
    # iterate 2010
    x = {index:[row[0],row[1],row[2],row[3],row[6]] for index, row in area.iterrows() if row[4] == year}
    df = pd.DataFrame.from_dict(x, orient="index")
    df.rename(columns= {0: "Area Code", 1:"Area", 2:"Item Code", 3:"Item", 4:year}, inplace = True)
    df["Item"] = df["Item"].astype(object)
    df["Area"] = df["Area"].astype(object)
    df[year] = df[year].astype(object)
    
    return df.drop_duplicates(subset=['Area Code', 'Item Code'], keep='last')

Iteration throw each year and create column with year.

In [162]:
# iterate 2010
df2010 = iterate_column_years (2010)

In [163]:
# iterate 2011
df2011 = iterate_column_years (2011)

In [164]:
# iterate 2012
df2012 = iterate_column_years (2012)

In [165]:
# iterate 2013
df2013 = iterate_column_years (2013)

In [166]:
# iterate 2014
df2014 = iterate_column_years (2014)

In [167]:
# iterate 2015
df2015 = iterate_column_years (2015)

In [168]:
# iterate 2016
df2016 = iterate_column_years (2016)

In [169]:
# iterate 2017
df2017 = iterate_column_years (2017)

In [170]:
# iterate 2018
df2018 = iterate_column_years (2018)

In [171]:
# iterate 2019
df2019 = iterate_column_years (2019)

In [172]:
# iterate 2020
df2020 = iterate_column_years (2020)

In [173]:
# iterate 2021
df2021 = iterate_column_years (2021)

Drop columns of production and duplicates, and change types.

In [174]:
def clean2_df (df):
    df.drop(columns=["Year", "Value", "Unit"],inplace=True)
    df["Item Code"] = df["Item Code"].astype(object)
    df["Area Code"] = df["Area Code"].astype(object)
    # drop duplicates.
    df.drop_duplicates(inplace=True)
    return df

In [175]:
area = clean2_df (area)

Merge all data frames to 1.

In [176]:
def merging_production_area (df, df2010, df2011, df2012, df2013, df2014, df2015, df2016, df2017, df2018, df2019, df2020, df2021):
    z = pd.merge(df, df2010, how="left").merge(df2011, how="left").merge(df2012, how="left")
    z = pd.merge(z, df2013, how="left").merge(df2014, how="left").merge(df2015, how="left")
    z = pd.merge(z, df2016, how="left").merge(df2017, how="left").merge(df2018, how="left")        
    z = pd.merge(z, df2019, how="left").merge(df2020, how="left").merge(df2021, how="left")  
    return z

In [177]:
df = merging_production (area, df2010, df2011, df2012, df2013, df2014, df2015, df2016, df2017, df2018, df2019, df2020, df2021)

In [178]:
df

,Area Code,Area,Item Code,Item,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,4,Afghanistan,1341.0,Apples,8550,8863,9148,10341,12247,13038,19365,26847,28381,27559,25643,26540
1,4,Afghanistan,115.0,Barley,212000,190000,280000,278000,342472,282000,219208,68179,84147,84070,86099,84072
2,4,Afghanistan,112.0,Maize (corn),183000,183000,141000,142000,127000,147273,151900,134225,72433,94910,140498,92144
3,4,Afghanistan,1329.0,"Other citrus fruit, n.e.c.",200,200,200,300,300,300,1662,1643,1700,3391,449,1403
4,4,Afghanistan,1709.9,Other pulses n.e.c.,71700,81000,86368,74113,79746,143555,111894,52243,61166,67114,69104,77466
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2993,716,Zimbabwe,141.0,Soya beans,42288,44672,50408,50785,60616,44155,39935,23515,37307,33136,32874,34648
2994,716,Zimbabwe,1354.0,Strawberries,51,51,50,50,51,51,51,51,51,50,50,50
2995,716,Zimbabwe,1802.0,Sugar cane,40663,42828,53486,46605,43121,43094,43500,41000,45000,46000,47000,47000
2996,716,Zimbabwe,1234.0,Tomatoes,3200,3146,3300,3300,3370,3508,3498,3481,3602,3607,3564,3591
2997,716,Zimbabwe,111.0,Wheat,6478,8645,21377,21753,18059,22114,22094,22070,16700,24186,44466,66434

In [186]:
def replace_items (df):
    import re
    # Clean with regex column "Items" to match other Data Frames.
    df["Item"] = df["Item"].str.replace("n\.e\.c\.", "", regex=True)
    df["Item"] = df["Item"].str.replace(".*Other berries and fruits of the genus vaccinium.*", 'Berries & Grapes', regex=True)
    df["Item"] = df["Item"].str.replace('.*Onions and shallots, green*.', 'Onions & Leeks', regex=True)
    df["Item"] = df["Item"].str.replace(".*Beer of barley, malted*.", 'Beer', regex=True)
    df["Item"] = df["Item"].str.replace(".*Barley*.", 'Beer', regex=True)
    df["Item"] = df["Item"].str.replace('.*Brazil nuts, in shell*.', "Nuts", regex=True)
    df["Item"] = df["Item"].str.replace(".*Cocoa beans*.", "Chocolate", regex=True)
    df["Item"] = df["Item"].str.replace('.*Coffee, green*.', "Coffee", regex=True)
    df["Item"] = df["Item"].str.replace('.*Groundnuts, excluding shelled*.', "Groundnuts", regex=True)
    df["Item"] = df["Item"].str.replace('.*Edible roots and tubers with high starch or inulin content, , fresh*.', 'Root Vegetables', regex=True)
    df["Item"] = df["Item"].str.replace('.*Oats*.', "Oatmeal", regex=True)
    df["Item"] = df["Item"].str.replace('.*Other citrus fruit,*.', 'Citrus Fruit', regex=True)
    df["Item"] = df["Item"].str.replace('.*Other fruits*.', 'Other Fruit', regex=True)
    df["Item"] = df["Item"].str.replace('.*Meat of pig with the bome, fresh or chilled', "Pig", regex=True)
    df["Item"] = df["Item"].str.replace('.*Meat of cattle with the bone, fresh or chilled', 'Beef', regex=True)
    df["Item"] = df["Item"].str.replace('.*Walnuts, in shell*.', 'Nuts', regex=True)
    df["Item"] = df["Item"].str.replace('.*Hazelnuts, in shell*.', 'Nuts', regex=True)
    df["Item"] = df["Item"].str.replace('.*Peas, dry*.', 'Peas', regex=True)
    df["Item"] = df["Item"].str.replace('.*Sugar beet*.', 'Beet Sugar', regex=True)
    df["Item"] = df["Item"].str.replace('.*Soya beans*.', 'Beet Sugar', regex=True)
    df["Item"] = df["Item"].str.replace('.*Other vegetables, fresh *.', 'Other Vegetables', regex=True)
    df["Item"] = df["Item"].str.replace('.*Hen eggs in shell, fresh*.', 'Eggs', regex=True)
    df["Item"] = df["Item"].str.replace('.*Gooseberries*.', 'Berries & Grapes', regex=True)
    df["Item"] = df["Item"].str.replace('.*Raw hides and skins of sheep or lambs*.', 'Lamb & Mutton', regex=True)
    df["Item"] = df["Item"].str.replace('.*Strawberries*.', 'Berries & Grapes', regex=True)
    df["Item"] = df["Item"].str.replace('.*Cranberries*.', 'Berries & Grapes', regex=True)
    df["Item"] = df["Item"].str.replace('.*Raw milk of cattle*.', 'Milk', regex=True)
    df["Item"] = df["Item"].str.replace('.*Cassava, fresh*.', 'Cassava', regex=True)
    df["Item"] = df["Item"].str.replace('.*Meat of pig with the bone, fresh or chilled*.', 'Pig Meat', regex=True)
    df["Item"] = df["Item"].str.replace('.*Chick peas, dry*.', 'Peas', regex=True)
    df["Item"] = df["Item"].str.replace('.*Sunflower-seed oil, crude*.', 'Sunflower Oil', regex=True)
    df["Item"] = df["Item"].str.replace('.*Meat of chickens, fresh or chilled*.', 'Poultry Meat', regex=True)
    df["Item"] = df["Item"].str.replace('.*Rapeseed or canola oil, crude*.', 'Rapeseed Oil', regex=True)
    df["Item"] = df["Item"].str.replace('.*Peas, green*.', 'Peas', regex=True)
    df["Item"] = df["Item"].str.replace('.*Cow peas, dry*.', 'Peas', regex=True)
    df["Item"] = df["Item"].str.replace('.*Raspberries*.', 'Berries & Grapes', regex=True)
    df["Item"] = df["Item"].str.replace('.*Blueberries*.', 'Berries & Grapes', regex=True)
    df["Item"] = df["Item"].str.replace('.*Cheese from whole cow milk*.', 'Cheese', regex=True)
    df["Item"] = df["Item"].str.title()
    df["Item"] = df["Item"].str.strip()
    return df

In [187]:
df = replace_items (df)

In [185]:
print(set(df["Item"]))

{'Wheat', 'Potatoes', 'Cassava', 'Onions & Leeks', 'Citrus Fruit', 'Oatmealeal', 'Root Vegetables', 'Berries & Grapes', 'Maize (Corn)', 'Groundnuts', 'Peas', 'Beet Sugar', 'Rice', 'Chocolate', 'Bananas', 'Tomatoes', 'Nuts', 'Beer', 'Other Vegetables', 'Sugar Cane', 'Coffee', 'Other Pulses ', 'Apples'}

Export to csv.

In [190]:
df.to_csv("D:\ironhack\proyectos\_proy4\csv\csv_from_python\\area_harvested.csv", index=False)