# ANALYSIS.
## Production DB.

In [6]:
import pandas as pd
import re
import warnings
warnings.filterwarnings("ignore")

import importlib
import src.analysis as an
import sys 
an = sys.path.append("\src\\analysis.py")

ModuleNotFoundError: No module named 'src'

IMPORT quantity data set.

In [173]:
production = pd.read_csv("D:\ironhack\proyectos\_proy4\csv\\production_quantity.csv")

Clean Data Base

In [174]:
# Drop columns.
production.drop(columns=["Domain", "Domain Code", "Element Code", "Element", "Year Code"],inplace=True)

In [175]:
# Change names.
production.rename(columns={"Area Code (M49)":"Area Code", "Item Code (CPC)": "Item Code"}, inplace= True)

In [176]:
production.sample()

       Area Code   Area  Item Code          Item  Year    Unit      Value
52685        724  Spain      112.0  Maize (corn)  2019  tonnes  4184460.0

In [177]:
def iterate_column_years (df, year):
    # iterate 2010
    x = {index:[row[0],row[1],row[2],row[3],row[6]] for index, row in df.iterrows() if row[4] == year}
    df = pd.DataFrame.from_dict(x, orient="index")
    df.rename(columns= {0: "Area Code", 1:"Area", 2:"Item Code", 3:"Item", 4:year}, inplace = True)
    df["Item"] = df["Item"].astype(object)
    df["Area"] = df["Area"].astype(object)
    df[year] = df[year].astype(object)
    
    return df.drop_duplicates(subset=['Area Code', 'Item Code'], keep='last')

Iteration throw each year and create column with year.

In [178]:
# iterate 2010
df2010 = iterate_column_years (production, 2010)

In [179]:
# iterate 2011
df2011 = iterate_column_years (production, 2011)

In [180]:
# iterate 2012
df2012 = iterate_column_years (production, 2012)

In [181]:
# iterate 2013
df2013 = iterate_column_years (production, 2013)

In [182]:
# iterate 2014
df2014 = iterate_column_years (production, 2014)

In [183]:
# iterate 2015
df2015 = iterate_column_years (production, 2015)

In [184]:
# iterate 2016
df2016 = iterate_column_years (production, 2016)

In [185]:
# iterate 2017
df2017 = iterate_column_years (production, 2017)

In [186]:
# iterate 2018
df2018 = iterate_column_years (production, 2018)

In [187]:
# iterate 2019
df2019 = iterate_column_years (production, 2019)

In [188]:
# iterate 2020
df2020 = iterate_column_years (production, 2020)

In [189]:
# iterate 2021
df2021 = iterate_column_years (production, 2021)

Drop columns of production and duplicates, and change types.

In [203]:
def clean2_df (df):
    df.drop(columns=["Year", "Value", "Unit"],inplace=True)
    df["Item Code"] = df["Item Code"].astype(object)
    df["Area Code"] = df["Area Code"].astype(object)
    # drop duplicates.
    df.drop_duplicates(inplace=True)
    return df

In [204]:
clean2_df (production)

KeyError: "['Year', 'Value', 'Unit'] not found in axis"

In [190]:
# Drop columns.
production.drop(columns=["Year", "Value", "Unit"],inplace=True)

In [191]:
production["Item Code"] = production["Item Code"].astype(object)

In [192]:
production["Area Code"] = production["Area Code"].astype(object)

In [193]:
# drop duplicates.
production.drop_duplicates(inplace=True)

Merge all data frames to 1.

In [200]:
def merging_production_area (df, df2010, df2011, df2012, df2013, df2014, df2015, df2016, df2017, df2018, df2019, df2020, df2021):
    z = pd.merge(df, df2010, how="left").merge(df2011, how="left").merge(df2012, how="left")
    z = pd.merge(z, df2013, how="left").merge(df2014, how="left").merge(df2015, how="left")
    z = pd.merge(z, df2016, how="left").merge(df2017, how="left").merge(df2018, how="left")        
    z = pd.merge(z, df2019, how="left").merge(df2020, how="left").merge(df2021, how="left")  
    return z

In [201]:
df = merging_production (production, df2010, df2011, df2012, df2013, df2014, df2015, df2016, df2017, df2018, df2019, df2020, df2021)

In [202]:
df

,Area Code,Area,Item Code,Item,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,4,Afghanistan,1341.0,Apples,59850.0,62041.0,70000.0,78597.0,89403.0,89733.0,140903.0,170443.0,217192.0,250324.0,270857.0,292586.58
1,4,Afghanistan,115.0,Barley,437000.0,305900.0,504000.0,514000.0,521000.0,403000.0,301856.0,94995.0,56781.0,123576.0,127757.0,122692.77
2,4,Afghanistan,1330.0,Grapes,397000.0,492464.0,590065.0,610570.0,744847.0,805072.0,874541.0,923831.0,984081.0,1112927.0,993382.0,1036547.62
3,4,Afghanistan,231.0,"Hen eggs in shell, fresh",326880.0,344200.0,360000.0,360000.0,370000.0,396660.0,397675.0,400000.0,398112.0,440804.0,440782.0,444975.0
4,4,Afghanistan,112.0,Maize (corn),301000.0,300120.0,310000.0,312000.0,316000.0,316000.0,311646.0,173912.0,106670.0,184671.0,271776.0,180000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4536,716,Zimbabwe,1802.0,Sugar cane,2692000.0,3058000.0,3929056.0,3960000.0,3856000.0,3348000.0,3483000.0,3101000.0,3582994.0,3562000.0,3543771.0,3450000.0
4537,716,Zimbabwe,21631.01,"Sunflower-seed oil, crude",3800.0,4600.0,5200.0,5200.0,5200.0,2000.0,1400.0,1500.0,1800.0,1900.0,4400.0,NaN
4538,716,Zimbabwe,1234.0,Tomatoes,25000.0,22500.0,23500.0,23500.0,24271.13,25322.84,25318.39,25278.36,25306.53,25301.09,25295.33,25300.98
4539,716,Zimbabwe,111.0,Wheat,18000.0,23000.0,53231.78,50966.05,40000.0,45302.0,42008.0,38715.0,45000.0,94685.0,212530.0,337212.0
4540,716,Zimbabwe,24212.02,Wine,1750.0,1750.0,1750.0,1750.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN