# ANALYSIS.
## Production DB.

In [6]:
import pandas as pd
import re
import warnings
warnings.filterwarnings("ignore")

import importlib
import src.analysis as an
import sys 
an = sys.path.append("\src\\analysis.py")

ModuleNotFoundError: No module named 'src'

IMPORT quantity data set.

In [256]:
production = pd.read_csv("D:\ironhack\proyectos\_proy4\csv\\food_production\\production_quantity.csv")

Clean Data Base

In [212]:
# Drop columns.
production.drop(columns=["Domain", "Domain Code", "Element Code", "Element", "Year Code"],inplace=True)

In [213]:
# Change names.
production.rename(columns={"Area Code (M49)":"Area Code", "Item Code (CPC)": "Item Code"}, inplace= True)

In [215]:
print(set(production["Item"]))

{'Walnuts, in shell', 'Potatoes', 'Gooseberries', 'Hen eggs in shell, fresh', 'Beer of barley, malted', 'Cow peas, dry', 'Other citrus fruit, n.e.c.', 'Cocoa beans', 'Cassava, fresh', 'Maize (corn)', 'Soya beans', 'Edible roots and tubers with high starch or inulin content, n.e.c., fresh', 'Raspberries', 'Wine', 'Sugar cane', 'Blueberries', 'Raw hides and skins of sheep or lambs', 'Oats', 'Wheat', 'Onions and shallots, green', 'Tomatoes', 'Strawberries', 'Cranberries', 'Rice', 'Palm oil', 'Hazelnuts, in shell', 'Raw milk of cattle', 'Apples', 'Meat of pig with the bone, fresh or chilled', 'Cheese from whole cow milk', 'Chick peas, dry', 'Sunflower-seed oil, crude', 'Other pulses n.e.c.', 'Coffee, green', 'Meat of chickens, fresh or chilled', 'Olive oil', 'Soya bean oil', 'Barley', 'Other vegetables, fresh n.e.c.', 'Meat of cattle with the bone, fresh or chilled', 'Bananas', 'Rapeseed or canola oil, crude', 'Groundnuts, excluding shelled', 'Peas, dry', 'Peas, green'}

In [216]:
production.sample()

,Area Code,Area,Item Code,Item,Year,Unit,Value
52940,798,Tuvalu,21121.0,"Meat of chickens, fresh or chilled",2013,tonnes,55.45

In [217]:
def iterate_column_years (df, year):
    # iterate 2010
    x = {index:[row[0],row[1],row[2],row[3],row[6]] for index, row in df.iterrows() if row[4] == year}
    df = pd.DataFrame.from_dict(x, orient="index")
    df.rename(columns= {0: "Area Code", 1:"Area", 2:"Item Code", 3:"Item", 4:year}, inplace = True)
    df["Item"] = df["Item"].astype(object)
    df["Area"] = df["Area"].astype(object)
    df[year] = df[year].astype(object)
    
    return df.drop_duplicates(subset=['Area Code', 'Item Code'], keep='last')

Iteration throw each year and create column with year.

In [218]:
# iterate 2010
df2010 = iterate_column_years (production, 2010)

In [219]:
# iterate 2011
df2011 = iterate_column_years (production, 2011)

In [220]:
# iterate 2012
df2012 = iterate_column_years (production, 2012)

In [221]:
# iterate 2013
df2013 = iterate_column_years (production, 2013)

In [222]:
# iterate 2014
df2014 = iterate_column_years (production, 2014)

In [223]:
# iterate 2015
df2015 = iterate_column_years (production, 2015)

In [224]:
# iterate 2016
df2016 = iterate_column_years (production, 2016)

In [225]:
# iterate 2017
df2017 = iterate_column_years (production, 2017)

In [226]:
# iterate 2018
df2018 = iterate_column_years (production, 2018)

In [227]:
# iterate 2019
df2019 = iterate_column_years (production, 2019)

In [228]:
# iterate 2020
df2020 = iterate_column_years (production, 2020)

In [229]:
# iterate 2021
df2021 = iterate_column_years (production, 2021)

Drop columns of production and duplicates, and change types.

In [230]:
def clean2_df (df):
    df.drop(columns=["Year", "Value", "Unit"],inplace=True)
    df["Item Code"] = df["Item Code"].astype(object)
    df["Area Code"] = df["Area Code"].astype(object)
    # drop duplicates.
    df.drop_duplicates(inplace=True)
    return df

In [231]:
clean2_df (production)

,Area Code,Area,Item Code,Item
0,4,Afghanistan,1341.0,Apples
12,4,Afghanistan,115.0,Barley
24,4,Afghanistan,231.0,"Hen eggs in shell, fresh"
48,4,Afghanistan,112.0,Maize (corn)
60,4,Afghanistan,21111.01,"Meat of cattle with the bone, fresh or chilled"
...,...,...,...,...
57506,716,Zimbabwe,1802.0,Sugar cane
57518,716,Zimbabwe,21631.01,"Sunflower-seed oil, crude"
57529,716,Zimbabwe,1234.0,Tomatoes
57541,716,Zimbabwe,111.0,Wheat
57553,716,Zimbabwe,24212.02,Wine

Merge all data frames to 1.

In [234]:
def merging_production_area (df, df2010, df2011, df2012, df2013, df2014, df2015, df2016, df2017, df2018, df2019, df2020, df2021):
    z = pd.merge(df, df2010, how="left").merge(df2011, how="left").merge(df2012, how="left")
    z = pd.merge(z, df2013, how="left").merge(df2014, how="left").merge(df2015, how="left")
    z = pd.merge(z, df2016, how="left").merge(df2017, how="left").merge(df2018, how="left")        
    z = pd.merge(z, df2019, how="left").merge(df2020, how="left").merge(df2021, how="left")  
    return z

In [235]:
df = merging_production (production, df2010, df2011, df2012, df2013, df2014, df2015, df2016, df2017, df2018, df2019, df2020, df2021)

In [254]:
def replace_items (df):
    import re
    # Clean with regex column "Items" to match other Data Frames.
    df["Item"] = df["Item"].str.replace("n\.e\.c\.", "", regex=True)
    df["Item"] = df["Item"].str.replace(".*Other berries and fruits of the genus vaccinium.*", 'Berries & Grapes', regex=True)
    df["Item"] = df["Item"].str.replace('.*Onions and shallots, green*.', 'Onions & Leeks', regex=True)
    df["Item"] = df["Item"].str.replace(".*Beer of barley, malted*.", 'Beer', regex=True)
    df["Item"] = df["Item"].str.replace(".*Barley*.", 'Beer', regex=True)
    df["Item"] = df["Item"].str.replace('.*Brazil nuts, in shell*.', "Nuts", regex=True)
    df["Item"] = df["Item"].str.replace(".*Cocoa beans*.", "Chocolate", regex=True)
    df["Item"] = df["Item"].str.replace('.*Coffee, green*.', "Coffee", regex=True)
    df["Item"] = df["Item"].str.replace('.*Groundnuts, excluding shelled*.', "Groundnuts", regex=True)
    df["Item"] = df["Item"].str.replace('.*Edible roots and tubers with high starch or inulin content, , fresh*.', 'Root Vegetables', regex=True)
    df["Item"] = df["Item"].str.replace('.*Oats*.', "Oatmeal", regex=True)
    df["Item"] = df["Item"].str.replace('.*Other citrus fruit,*.', 'Citrus Fruit', regex=True)
    df["Item"] = df["Item"].str.replace('.*Other fruits*.', 'Other Fruit', regex=True)
    df["Item"] = df["Item"].str.replace('.*Meat of pig with the bome, fresh or chilled', "Pig", regex=True)
    df["Item"] = df["Item"].str.replace('.*Meat of cattle with the bone, fresh or chilled', 'Beef', regex=True)
    df["Item"] = df["Item"].str.replace('.*Walnuts, in shell*.', 'Nuts', regex=True)
    df["Item"] = df["Item"].str.replace('.*Hazelnuts, in shell*.', 'Nuts', regex=True)
    df["Item"] = df["Item"].str.replace('.*Peas, dry*.', 'Peas', regex=True)
    df["Item"] = df["Item"].str.replace('.*Sugar beet*.', 'Beet Sugar', regex=True)
    df["Item"] = df["Item"].str.replace('.*Soya beans*.', 'Beet Sugar', regex=True)
    df["Item"] = df["Item"].str.replace('.*Other vegetables, fresh *.', 'Other Vegetables', regex=True)
    df["Item"] = df["Item"].str.replace('.*Hen eggs in shell, fresh*.', 'Eggs', regex=True)
    df["Item"] = df["Item"].str.replace('.*Gooseberries*.', 'Berries & Grapes', regex=True)
    df["Item"] = df["Item"].str.replace('.*Raw hides and skins of sheep or lambs*.', 'Lamb & Mutton', regex=True)
    df["Item"] = df["Item"].str.replace('.*Strawberries*.', 'Berries & Grapes', regex=True)
    df["Item"] = df["Item"].str.replace('.*Cranberries*.', 'Berries & Grapes', regex=True)
    df["Item"] = df["Item"].str.replace('.*Raw milk of cattle*.', 'Milk', regex=True)
    df["Item"] = df["Item"].str.replace('.*Cassava, fresh*.', 'Cassava', regex=True)
    df["Item"] = df["Item"].str.replace('.*Meat of pig with the bone, fresh or chilled*.', 'Pig Meat', regex=True)
    df["Item"] = df["Item"].str.replace('.*Chick peas, dry*.', 'Peas', regex=True)
    df["Item"] = df["Item"].str.replace('.*Sunflower-seed oil, crude*.', 'Sunflower Oil', regex=True)
    df["Item"] = df["Item"].str.replace('.*Meat of chickens, fresh or chilled*.', 'Poultry Meat', regex=True)
    df["Item"] = df["Item"].str.replace('.*Rapeseed or canola oil, crude*.', 'Rapeseed Oil', regex=True)
    df["Item"] = df["Item"].str.replace('.*Peas, green*.', 'Peas', regex=True)
    df["Item"] = df["Item"].str.replace('.*Cow peas, dry*.', 'Peas', regex=True)
    df["Item"] = df["Item"].str.replace('.*Raspberries*.', 'Berries & Grapes', regex=True)
    df["Item"] = df["Item"].str.replace('.*Blueberries*.', 'Berries & Grapes', regex=True)
    df["Item"] = df["Item"].str.replace('.*Cheese from whole cow milk*.', 'Cheese', regex=True)
    df["Item"] = df["Item"].str.title()
    df["Item"] = df["Item"].str.strip()
    return df

In [255]:
print(set(df["Item"]))

{'Maize (Corn)', 'Potatoes', 'Other Vegetables', 'Cassava', 'Beet Sugaroil', 'Berries & Grapes', 'Lamb & Mutton', 'Palm Oil', 'Citrus Fruit', 'Beef', 'Onions & Leeks', 'Nuts', 'Beet Sugar', 'Wine', 'Pig Meat', 'Peas', 'Tomatoes', 'Wheat', 'Strawberries', 'Rice', 'Oatmealealealeal', 'Root Vegetables', 'Apples', 'Sunflower Oil', 'Groundnuts', 'Rapeseed Oil', 'Coffee', 'Other Pulses ', 'Chocolate', 'Cheese', 'Eggs', 'Poultry Meat', 'Milk', 'Sugar Cane', 'Bananas', 'Olive Oil', 'Beer'}

Export to csv.

In [261]:
df.to_csv("D:\ironhack\proyectos\_proy4\csv\csv_from_python\production_quantity.csv", index=False)