# ANALYSIS.
## Area DB.

In [27]:
import pandas as pd
import regex
import warnings
warnings.filterwarnings("ignore")

import importlib
import sys 
sys.path.append("..\src")
#from analysis import *
import analysis as an

IMPORT Area data set.

In [28]:
area = pd.read_csv("D:\ironhack\proyectos\FoodEmissions_proy4\data\\food_production\\area_harvested.csv")
area.sample()

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value
322,QCL,Crops and livestock products,12,Algeria,5312,Area harvested,1312.0,Bananas,2014,2014,ha,12

Clean Data Base.

In [29]:
area = an.clean_df (area)

Iteration throw each year and create column with year.

In [31]:
# iterate 2010
df2010 = an.iterate_column_years (area, 2010)

In [32]:
# iterate 2011
df2011 = an.iterate_column_years (area,2011)

In [33]:
# iterate 2012
df2012 = an.iterate_column_years (area,2012)

In [34]:
# iterate 2013
df2013 = an.iterate_column_years (area,2013)

In [35]:
# iterate 2014
df2014 = an.iterate_column_years (area,2014)

In [36]:
# iterate 2015
df2015 = an.iterate_column_years (area,2015)

In [37]:
# iterate 2016
df2016 = an.iterate_column_years (area,2016)

In [38]:
# iterate 2017
df2017 = an.iterate_column_years (area,2017)

In [39]:
# iterate 2018
df2018 = an.iterate_column_years (area,2018)

In [40]:
# iterate 2019
df2019 = an.iterate_column_years (area,2019)

In [41]:
# iterate 2020
df2020 = an.iterate_column_years (area,2020)

In [42]:
# iterate 2021
df2021 = an.iterate_column_years (area,2021)

Drop columns of production and duplicates, and change types.

In [43]:
area = an.clean2_df (area)

Merge all data frames to 1.

In [44]:
df = an.merging_production_area (area, df2010, df2011, df2012, df2013, df2014, df2015, df2016, df2017, df2018, df2019, df2020, df2021)

Clean Food names for matching other df.

In [45]:
df = an.replace_items (df)

Export to csv.

In [48]:
df.to_csv("D:\ironhack\proyectos\FoodEmissions_proy4\data\csv_from_python\\area_harvested.csv", index=False)