# ANALYSIS.
## Producer price DB.

In [33]:
import pandas as pd
import regex
import warnings
warnings.filterwarnings("ignore")

import importlib
import sys 
sys.path.append("..\src")
#from analysis import *
import analysis as an
importlib.reload(an)

IMPORT roducer price data set.

In [11]:
price= pd.read_csv("D:\ironhack\proyectos\FoodEmissions_proy4\data\\food_production\producer_price.csv")
price.sample()

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Months Code,Months,Unit,Value
1202,PP,Producer Prices,31,Azerbaijan,5532,Producer Price (USD/tonne),113.0,Rice,2010,2010,7021,Annual value,USD,332.6

Clean Data Base.

In [12]:
price = an.clean_df_price (price)

Iteration throw each year and create column with year.

In [19]:
# iterate 2010
df2010 = an.iterate_column_years (price, 2010)

In [20]:
# iterate 2011
df2011 = an.iterate_column_years (price, 2011)

In [21]:
# iterate 2012
df2012 = an.iterate_column_years (price, 2012)

In [22]:
# iterate 2013
df2013 = an.iterate_column_years (price, 2013)

In [23]:
# iterate 2014
df2014 = an.iterate_column_years (price, 2014)

In [24]:
# iterate 2015
df2015 = an.iterate_column_years (price, 2015)

In [25]:
# iterate 2016
df2016 = an.iterate_column_years (price, 2016)

In [26]:
# iterate 2017
df2017 = an.iterate_column_years (price, 2017)

In [27]:
# iterate 2018
df2018 = an.iterate_column_years (price, 2018)

In [28]:
# iterate 2019
df2019 = an.iterate_column_years (price, 2019)

In [29]:
# iterate 2020
df2020 = an.iterate_column_years (price, 2020)

Drop columns of production and duplicates, and change types.

In [30]:
price = an.clean2_df (price)

Merge all data frames to 1.

In [34]:
df = an.merging_price (price, df2010, df2011, df2012, df2013, df2014, df2015, df2016, df2017, df2018, df2019, df2020)

In [35]:
df = an.replace_items (df)

Export to csv.

In [36]:
df.to_csv("D:\ironhack\proyectos\_proy4\csv\csv_from_python\producer_price.csv", index=False)