# ANALYSIS.
## Producer price DB.

In [37]:
import pandas as pd
import regex
import warnings
warnings.filterwarnings("ignore")

import importlib
import sys 
sys.path.append("..\src")
#from analysis import *
import analysis as an
importlib.reload(an)

IMPORT roducer price data set.

In [38]:
price= pd.read_csv("D:\ironhack\proyectos\FoodEmissions_proy4\data\\food_production\producer_price.csv")
price.sample()

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Months Code,Months,Unit,Value
10596,PP,Producer Prices,484,Mexico,5532,Producer Price (USD/tonne),2211.0,Raw milk of cattle,2016,2016,7021,Annual value,USD,312.7

Clean Data Base.

In [39]:
price = an.clean_df_price (price)

Iteration throw each year and create column with year.

In [40]:
# iterate 2010
df2010 = an.iterate_column_years (price, 2010)

In [41]:
# iterate 2011
df2011 = an.iterate_column_years (price, 2011)

In [42]:
# iterate 2012
df2012 = an.iterate_column_years (price, 2012)

In [43]:
# iterate 2013
df2013 = an.iterate_column_years (price, 2013)

In [44]:
# iterate 2014
df2014 = an.iterate_column_years (price, 2014)

In [45]:
# iterate 2015
df2015 = an.iterate_column_years (price, 2015)

In [46]:
# iterate 2016
df2016 = an.iterate_column_years (price, 2016)

In [47]:
# iterate 2017
df2017 = an.iterate_column_years (price, 2017)

In [48]:
# iterate 2018
df2018 = an.iterate_column_years (price, 2018)

In [49]:
# iterate 2019
df2019 = an.iterate_column_years (price, 2019)

In [50]:
# iterate 2020
df2020 = an.iterate_column_years (price, 2020)

Drop columns of production and duplicates, and change types.

In [51]:
price = an.clean2_df (price)

Merge all data frames to 1.

In [52]:
df = an.merging_price (price, df2010, df2011, df2012, df2013, df2014, df2015, df2016, df2017, df2018, df2019, df2020)

In [53]:
df = an.replace_items (df)

Export to csv.

In [54]:
df.to_csv("D:\ironhack\proyectos\FoodEmissions_proy4\data\csv_from_python\producer_price.csv", index=False)