# ANALYSIS.
## Production DB.

In [52]:
import pandas as pd
import regex
import warnings
warnings.filterwarnings("ignore")

import importlib
import sys 
sys.path.append("..\src")
#from analysis import *
import analysis as an
importlib.reload(an)

IMPORT quantity data set.

In [53]:
production = pd.read_csv("D:\ironhack\proyectos\FoodEmissions_proy4\data\\food_production\production_quantity.csv")

Clean Data Base

In [54]:
production = an.clean_df (production)

In [55]:
# production["Unit"] = "tonnes"

In [56]:
production["Unit"].value_counts()

tonnes     55242
1000 No     2315
Name: Unit, dtype: int64

Iteration throw each year and create column with year.

In [57]:
# iterate 2010
df2010 = an.iterate_column_years (production, 2010)

In [58]:
# iterate 2011
df2011 = an.iterate_column_years (production, 2011)

In [59]:
# iterate 2012
df2012 = an.iterate_column_years (production, 2012)

In [60]:
# iterate 2013
df2013 = an.iterate_column_years (production, 2013)

In [61]:
# iterate 2014
df2014 = an.iterate_column_years (production, 2014)

In [62]:
# iterate 2015
df2015 = an.iterate_column_years (production, 2015)

In [63]:
# iterate 2016
df2016 = an.iterate_column_years (production, 2016)

In [64]:
# iterate 2017
df2017 = an.iterate_column_years (production, 2017)

In [65]:
# iterate 2018
df2018 = an.iterate_column_years (production, 2018)

In [66]:
# iterate 2019
df2019 = an.iterate_column_years (production, 2019)

In [67]:
# iterate 2020
df2020 = an.iterate_column_years (production, 2020)

In [68]:
# iterate 2021
df2021 = an.iterate_column_years (production, 2021)

Drop columns of production and duplicates, and change types.

In [69]:
production = an.clean2_df (production)

In [70]:
# delete the rows where column Unit is "1000 No".
production = production[production["Unit"] != "1000 No"]

Merge all data frames to 1.

In [71]:
df = an.merging_production_area (production, df2010, df2011, df2012, df2013, df2014, df2015, df2016, df2017, df2018, df2019, df2020, df2021)

Clean all food items for better comprehention.

In [72]:
df = an.replace_items (df)

In [77]:

for i in df.Food:
    for j in i:
        print(df.Food(j))

TypeError: 'Series' object is not callable

In [ ]:
for i in df

In [74]:
x = df[df.Food == "Peas"]
x.sample(50)

,Country_Code,Country,Food_Code,Food,Unit,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
3292,275,Palestine,1705.0,Peas,tonnes,79.75,105.0,110.0,120.0,127.84,135.49,130.56,132.09,133.45,135.58,133.87,132.16
2069,364,Iran (Islamic Republic of),1703.0,Peas,tonnes,156999.8,161999.1,175999.8,194999.7,268734.0,193105.0,271575.0,229443.0,190353.78,191613.83,172920.68,168142.52
3036,528,Netherlands,1705.0,Peas,tonnes,4500.0,2052.68,2529.59,3000.0,3124.84,2507.82,2563.04,2563.04,NaN,NaN,NaN,NaN
740,124,Canada,1242.0,Peas,tonnes,44984.0,42482.0,58840.0,54246.0,57075.0,58796.0,57275.0,46111.0,45531.0,48662.0,50178.0,42251.0
2455,428,Latvia,1705.0,Peas,tonnes,2600.0,2900.0,2400.0,5200.0,8900.0,11800.0,23100.0,29500.0,22500.0,27700.0,30000.0,26500.0
4588,834,United Republic of Tanzania,1705.0,Peas,tonnes,85000.0,80000.0,110000.0,130000.0,98785.74,60000.0,40000.0,30000.0,30000.0,30701.85,38155.89,35407.11
3783,686,Senegal,1706.0,Peas,tonnes,48879.75,28110.0,55015.0,40688.0,64088.0,82875.0,105016.0,117784.0,152759.0,184137.0,253896.95,239193.6
2626,450,Madagascar,1706.0,Peas,tonnes,5145.44,5526.13,6000.0,5900.0,11300.0,13600.0,15900.0,19400.0,25400.0,30702.12,21943.42,24072.08
3804,688,Serbia,1706.0,Peas,tonnes,19451.0,16056.0,13308.0,15821.0,16129.37,15797.0,15748.04,15735.55,15859.89,16080.82,16032.35,15983.89
804,152,Chile,1242.0,Peas,tonnes,15000.0,18000.0,20000.0,18304.8,15184.86,10785.91,16155.35,16058.88,15209.41,14708.95,15427.1,15704.51
3984,710,South Africa,1705.0,Peas,tonnes,816.19,933.75,1033.0,1028.5,942.36,807.64,926.17,931.25,888.35,915.25,911.62,905.07
3927,705,Slovenia,1705.0,Peas,tonnes,1171.0,1639.0,812.0,416.0,548.0,1151.0,1633.0,1774.0,1050.0,1010.0,950.0,900.0
3179,807,North Macedonia,1703.0,Peas,tonnes,1000.0,1049.77,1100.0,1100.0,1098.27,1080.48,1065.9,1054.66,1120.25,1111.46,1118.4,1125.86
1963,348,Hungary,1703.0,Peas,tonnes,4.0,6.0,9.0,40.0,90.0,70.0,126.0,134.0,NaN,NaN,NaN,NaN
2188,380,Italy,1703.0,Peas,tonnes,9143.0,8053.8,11218.6,12076.9,13071.6,16761.1,22327.9,33541.0,NaN,NaN,NaN,NaN
4393,788,Tunisia,1242.0,Peas,tonnes,35810.0,56950.0,45140.0,37800.0,56000.0,57040.15,50280.05,54440.07,53920.09,52880.07,53746.74,53515.63
2306,398,Kazakhstan,1703.0,Peas,tonnes,11200.0,29600.0,20700.0,25000.0,4700.0,1435.0,3487.0,6676.0,15900.0,8773.76,6640.92,7238.64
1523,231,Ethiopia,1242.0,Peas,tonnes,2601.88,2739.21,3000.0,3000.0,3148.19,3333.01,3160.4,3213.87,3235.76,3203.34,3217.66,3218.92
485,68,Bolivia (Plurinational State of),1242.0,Peas,tonnes,21572.4,22325.49,19914.81,18892.05,22380.0,22639.0,22617.0,21492.85,21649.42,21832.0,22302.0,22196.02
3880,703,Slovakia,1703.0,Peas,tonnes,318.5,290.88,200.0,200.0,230.29,210.1,213.46,217.95,NaN,NaN,NaN,NaN
348,112,Belarus,1705.0,Peas,tonnes,35964.0,47470.0,61669.0,58274.0,61709.0,50632.0,49697.0,51016.0,57998.0,70709.0,85682.0,89615.2
2488,422,Lebanon,1242.0,Peas,tonnes,5082.3,4736.66,4472.79,4500.67,6731.23,8979.93,12916.0,10433.0,9721.4,10555.09,10965.03,11201.93
3222,578,Norway,1705.0,Peas,tonnes,6520.0,2260.0,1910.0,1020.0,2270.0,3640.0,5200.0,3800.0,3000.0,4000.0,3720.0,3720.0
3380,604,Peru,1703.0,Peas,tonnes,2532.0,1800.0,2801.41,3267.0,1598.69,2348.0,493.72,970.0,1215.27,735.56,551.44,490.2
3479,620,Portugal,1703.0,Peas,tonnes,605.0,680.0,634.0,439.0,531.0,1392.0,1665.0,1506.0,2000.0,2355.0,2890.0,3208.0
4013,728,South Sudan,1242.0,Peas,tonnes,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3601,642,Romania,1703.0,Peas,tonnes,134.0,104.0,161.0,224.0,179.0,123.0,554.0,1768.0,NaN,NaN,NaN,NaN
1772,300,Greece,1703.0,Peas,tonnes,3395.34,3721.24,3916.0,4487.15,7857.16,11591.42,15001.06,17125.0,NaN,NaN,NaN,NaN
3263,586,Pakistan,1705.0,Peas,tonnes,54000.0,57107.0,36831.0,30786.0,30086.0,30741.0,29743.0,28334.0,27123.0,26640.0,22035.0,22316.0
2952,104,Myanmar,1703.0,Peas,tonnes,459400.0,465600.0,517100.0,562200.0,570700.0,571500.0,559390.0,526765.46,534602.48,499438.0,481985.0,467340.51
3430,608,Philippines,1242.0,Peas,tonnes,7323.0,6864.0,6068.53,6011.89,5314.83,4633.75,5320.15,5070.26,5008.05,5132.82,5070.38,5070.42
829,159,China,1706.0,Peas,tonnes,0.0,0.0,13000.0,15200.0,13500.0,13000.0,10107.0,15626.0,15652.0,14698.98,14460.45,14624.11
1746,288,Ghana,1706.0,Peas,tonnes,NaN,236679.0,223253.0,200400.0,201260.0,203320.0,206380.0,211470.0,215352.4,202800.46,204812.05,203865.91
903,156,"China, mainland",1242.0,Peas,tonnes,9910000.0,10267000.0,10500000.0,10600000.0,10722766.5,11819865.43,11047543.98,11615091.89,11494167.1,11385600.99,11498286.66,11459351.58
3397,604,Peru,1705.0,Peas,tonnes,51254.0,48590.0,53048.0,54348.36,52442.0,53157.0,50153.91,50223.0,52182.21,50128.66,48646.56,50140.16
3145,566,Nigeria,1706.0,Peas,tonnes,3368250.0,1643851.0,5146000.0,4630540.0,2137900.0,2306200.0,3750470.0,3874740.0,3500000.0,3575964.9,3645619.85,3628612.65
2456,428,Latvia,1242.0,Peas,tonnes,178.0,115.0,96.0,8.0,14.0,26.0,33.0,43.0,NaN,NaN,NaN,NaN
4681,860,Uzbekistan,1242.0,Peas,tonnes,3000.0,5000.0,3500.0,5450.0,4500.0,4700.0,5030.06,4743.35,4824.47,4865.96,4811.26,4833.9
1098,191,Croatia,1705.0,Peas,tonnes,340.0,696.0,404.0,189.0,579.0,194.0,246.0,142.0,2540.0,3370.0,1800.0,2650.0
1979,348,Hungary,1705.0,Peas,tonnes,36593.0,42627.0,42510.0,44690.0,46190.0,63574.0,46957.0,47626.0,31780.0,38670.0,24510.0,30230.0
4284,764,Thailand,1242.0,Peas,tonnes,5216.0,6910.0,4728.51,3399.0,4023.0,2246.0,3222.67,3163.89,2877.52,3088.02,3043.14,3002.9
2962,104,Myanmar,1705.0,Peas,tonnes,61000.0,55000.0,46332.0,48569.0,48713.0,50155.0,47217.0,42275.0,41216.0,40510.0,36344.0,33320.68
2749,470,Malta,1242.0,Peas,tonnes,172.0,197.0,130.0,105.0,105.0,151.74,75.19,159.0,140.0,130.0,140.0,80.0
844,159,China,1705.0,Peas,tonnes,910500.0,1374000.0,1278000.0,1266000.0,1350000.0,1267000.0,1374928.0,1522950.0,1525476.0,1451822.31,1449049.94,1467131.01
2999,524,Nepal,1703.0,Peas,tonnes,7064.0,8130.0,8192.0,9696.0,9380.36,9407.7,10914.36,10968.93,11271.0,10675.0,11285.0,11065.0
2771,478,Mauritania,1705.0,Peas,tonnes,10000.0,11000.0,7500.0,8500.0,9140.0,9695.0,9545.0,9409.77,9549.92,9501.56,9487.08,9512.86
1964,348,Hungary,1706.0,Peas,tonnes,0.0,0.0,0.0,1.23,0.0,5.36,7.0,5.0,NaN,NaN,NaN,NaN
4576,834,United Republic of Tanzania,1706.0,Peas,tonnes,151730.0,172740.0,179570.0,188717.0,190500.0,180776.0,175654.72,177631.0,121772.0,127884.0,142982.4,151099.9
4620,840,United States of America,1705.0,Peas,tonnes,645050.0,255146.0,499042.0,708510.0,778140.0,829303.0,1259260.0,643880.0,722530.0,1013600.0,981080.0,387780.0
4668,860,Uzbekistan,1703.0,Peas,tonnes,3700.0,3200.0,5000.0,5000.0,5700.0,6100.0,8093.82,10400.0,10600.0,11000.0,11774.02,14266.58

Export to csv.

In [179]:
df.to_csv("D:\ironhack\proyectos\FoodEmissions_proy4\data\csv_from_python\production_quantity.csv", index=False)

In [82]:
unique = pd.DataFrame(set(df["Food"]))
unique.reset_index()

    index                 0
0       0     Beet Sugaroil
1       1      Poultry Meat
2       2     Lamb & Mutton
3       3        Beet Sugar
4       4    Onions & Leeks
5       5              Beer
6       6          Pig Meat
7       7          Tomatoes
8       8          Potatoes
9       9   Root Vegetables
10     10              Nuts
11     11      Other Pulses
12     12            Cheese
13     13      Maize (Corn)
14     14      Citrus Fruit
15     15              Wine
16     16              Eggs
17     17         Olive Oil
18     18            Coffee
19     19           Bananas
20     20      Rapeseed Oil
21     21        Sugar Cane
22     22        Groundnuts
23     23            Apples
24     24     Sunflower Oil
25     25              Beef
26     26             Wheat
27     27  Other Vegetables
28     28          Palm Oil
29     29              Milk
30     30           Cassava
31     31              Rice
32     32         Chocolate
33     33              Peas
34     34           Oatmeal
35     35  Berries & Grapes